*{
    margin: 0;
    padding: 0;
}
header{
    display: block;
    margin:0 auto;
    width: 500px;
    text-align: center;
}
header h1{
    font-size: 60px;
    font-weight: bold;
    margin-top:20px;
    margin-bottom:20px;
}
header #newGameButton{
    width:100px;
    padding:10px;
    background:#8f7a66;
    color:white;
    border-radius: 10px;
    text-decoration: none;
}
header #newGameButton:hover{
    background:#9f8b77;
}
header p{
    font-size: 25px;
    margin:20px auto;
}
#grid-container{
    width:460px;
    height: 460px;
    padding:20px;
    margin:40px auto;
    background: #bbada0;
    border-radius: 10px;
    position: relative;
}
.grid-cell{
    width:100px;
    height:100px;
    border-radius: 6px;
    background:#ccc0b3;
    position: absolute;
}
.number-cell{
    width:100px;
    height:100px;
    border-radius: 6px;
    line-height:100px;
    font-size:50px;
    text-align:center;
    position: absolute;
    font-weight: blod;
}

#gameOver{
    background-color:black;
    color: white;
    font-size:60px;
    position: absolute;
    top:30%;
    left:25%;
    width:250px;
    text-align:center;
    z-index: 999;
}